version: '3.7'
services:
  database:
    image: mysql:5.7
    ports:
      - "6767:3306"
    volumes:
      - ./docker-init:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_DATABASE=internet_shop
      - MYSQL_USER=non-root
      - MYSQL_PASSWORD=123
    restart: always
#  rabbitmq:
#    hostname: rabbitmq
#    image: rabbitmq
#    volumes:
#      - ./docker-init/rabbitmq-isolated.conf:/etc/rabbitmq/rabbitmq.config
#    command: rabbitmq-server
#    ports:
#      - "15672:15672"
#      - "5672:5672"
#    restart: always
  shop_core:
    build:
      context: ./shop-core
      dockerfile: Dockerfile
    image: core
    links:
      - database
#      - rabbitmq
    ports:
      - "8081:8081"
    restart: always
    depends_on:
      - database
#      - rabbitmq
#  shop_stand:
#    image: jboss/wildfly
#    links:
#      - shop_core
#      - rabbitmq
#    volumes:
#      - ./core-stand/target/:/opt/jboss/wildfly/standalone/deployments/
#    environment:
#      - JAVA_OPTS= -Djava.net.preferIPv4Stack=true -Djboss.socket.binding.port-offset=100
#    ports:
#      - "8082:8082"
#    depends_on:
#      - truckservice
#      - rabbitmq
#    restart: always
