<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="parts :: header(#{message.resetPassword})">Reset password</div>

<body>
<div th:replace="parts :: navbar"></div>

<div class="container mt-5">
    <h2 th:text="#{message.resetPassword}">Reset password</h2>

    <br/>
    <div class="row">
        <form action="#">
            <label class="col-sm-1" th:text="#{label.user.email}">email</label>
            <span class="col-sm-5"><input class="form-control" id="email" name="email" type="email" value="" required="required" /></span>
            <button class="btn btn-primary" type="submit" th:text="#{message.resetPassword}">reset</button>
        </form>
    </div>

    <br/>
    <a class="btn btn-default" th:href="@{/registration.html}" th:text="#{label.registration}">registration</a>
    <br/><br/>
    <a class="btn btn-default" th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
    var serverContext = [[@{/}]];
        $(document).ready(function () {
            $('form').submit(function(event) {
                resetPass(event);
            });
        });
        function resetPass(event){
            event.preventDefault();
            var email = $("#email").val();
            $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
                window.location.href = serverContext + "login?message=" + data.message;
            })
                .fail(function(data) {
                    if(data.responseJSON.error.indexOf("MailError") > -1)
                    {
                        window.location.href = serverContext + "emailError.html";
                    }
                    else{
                        window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                    }
                });
        }
        $(document).ajaxStart(function() {
            $("title").html("LOADING ...");
        });
</script>

<div th:replace="parts :: footer"></div>
</body>
</html>