<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="parts :: header(#{label.product.list.title})">Market</div>

<body>
<div th:replace="parts :: navbar"></div>

<div class="container mt-5">

    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" action="/product" class="form-inline">
                <input type="text" name="filter" class="form-control" placeholder="Search by Category" th:placeholder="#{label.product.list.filter}">
                <button type="submit" class="btn btn-primary ml-2" th:text="#{label.product.list.filterButton}">Search</button>
            </form>
        </div>
    </div>


    <!--/*@thymesVar id="allProductDto" type="java.util.Map<java.lang.String, java.util.List<com.dmitrybondarev.shop.model.dto.ProductDto>>"*/-->
    <div th:each="category : ${allProductDto.keySet()}">
        <h4 th:text="${category}">Category</h4>
        <div class="card-columns">
            <div class="card my-3" th:each="productDto : ${allProductDto.get(category)}">
                <img class="card-img-top" src="#" th:src="@{'/img/' + ${productDto.filename}}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${productDto.brand + ' ' + productDto.title + ' ' + productDto.color}">title</h5>
                    <!--<p class="card-text" th:text="${category}">category</p>-->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="#{label.product.price} + ' ' + ${productDto.price} + '$'">price</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-info" role="button"
                       th:href="@{'/product/' + ${productDto.id}}" th:text="#{label.product.list.moreDetails}">More...</a>

                    <a class="btn btn-danger" role="button"
                       th:href="@{'/cart/' + ${productDto.id}}" th:text="#{label.product.list.addToCart}">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="parts :: footer"></div>
</body>
</html>