<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="parts :: header(#{label.form.editProfile.title})">Edit Profile</div>

<body>
    <div th:replace="parts :: navbar"></div>

    <div class="container mt-5">
        <h2 th:text="${userEditForm.firstName + ' ' + userEditForm.lastName}">First name Family name</h2>

        <!--/*@thymesVar id="userEditForm" type="com.dmitrybondarev.shop.model.dto.userEditForm"*/-->
        <form action="/user" th:object="${userEditForm}" method="POST" enctype="utf8">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                       th:text="#{label.user.firstName}">first name</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{firstName}" class="form-control" id="inputEmail2"/>
                </div>
                <p th:each="error: ${#fields.errors('firstName')}" th:text="#{${error}}"
                   class="alert alert-danger" role="alert">Validation error</p>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                       th:text="#{label.user.lastName}">last name</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{lastName}" class="form-control" id="inputEmail3"/>
                </div>
                <p th:each="error: ${#fields.errors('lastName')}" th:text="#{${error}}"
                   class="alert alert-danger" role="alert">Validation error</p>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                       th:text="#{label.user.dateOfBirth}">date of birth</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{dateOfBirth}" class="form-control" id="inputEmail4"/>
                </div>
                <p th:each="error: ${#fields.errors('dateOfBirth')}" th:text="#{${error}}"
                   class="alert alert-danger" role="alert">Validation error</p>
            </div>

            <input type="hidden"
                   name="${_csrf.parameterName}"
                   value="${_csrf.token}"/>

            <div class="form-group row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" th:text="#{label.form.editProfile.buttonEdit}">submit</button>
                </div>
            </div>
        </form>

        <div class="form-group row">
            <div class="col-sm-3">
                <a th:text="#{message.resetPassword}"
                   href="#" th:href="@{/forgetPassword.html}"
                   role="button"
                   class="btn btn-danger">Reset password</a>
            </div>
        </div>

        <h2 th:text="#{label.form.editProfile.addresses}">Addresses:</h2>

        <div class="card-columns">
            <div class="card" style="width: 18rem;" th:each="address : ${addresses}">
                <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <p class="card-text"
                       th:text="${address.postalCode} + ' ' + ${address.country} + ' ' + ${address.city}
                       + ${address.street} + ' ' + ${address.building} + ' ' + ${address.flat}"> Address </p>
                    <a class="btn btn-warning btn-sm" href="#" role="button"
                       th:href="@{'/user/address/' + ${address.id}}" th:text="#{label.form.editProfile.buttonEdit}">edit</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <a th:text="#{label.form.editAddress.addAddress}"
                   href="/user/address/new"
                   role="button"
                   class="btn btn-danger">Add address</a>
            </div>
        </div>

    </div>

    <div th:replace="parts :: footer"></div>
</body>
</html>