<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="parts :: header(#{label.adminForm.editUser.title})">User Edit</div>

<body>
<div th:replace="parts :: navbar"></div>

<div class="container mt-5">
    <h2 th:text="#{label.adminForm.editUser.title}">User Edit</h2>


    <!--/*@thymesVar id="userDto" type="com.dmitrybondarev.shop.model.dto.UserDto"*/-->
    <form action="/" th:object="${userDto}" method="get" enctype="utf8">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                   th:text="#{label.user.firstName}">First name</label>
            <div class="col-sm-3">
                <label class="col-sm-2 col-form-label"
                       th:text="*{firstName}"></label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                   th:text="#{label.user.lastName}">Last name</label>
            <div class="col-sm-3">
                <label class="col-sm-2 col-form-label"
                       th:text="*{lastName}"></label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                   th:text="#{label.user.dateOfBirth}">date of birth</label>
            <div class="col-sm-3">
                <label class="col-sm-2 col-form-label"
                       th:text="*{dateOfBirth}"></label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                   th:text="#{label.user.email}">email</label>
            <div class="col-sm-3">
                <label class="col-sm-2 col-form-label"
                       th:text="*{email}"></label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                   th:text="#{label.user.activity}">Active</label>
            <div class="col-sm-3">
                <select th:field="*{enabled}">
                    <!--<option th:value="true">Select Activity</option>-->
                    <option th:value="true"> Active</option>
                    <option th:value="false"> Not Active</option>
                </select>
            </div>
        </div>

        <input type="hidden"
               name="${_csrf.parameterName}"
               value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" th:text="#{label.adminForm.editUser.editButton}">submit</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="parts :: footer"></div>
</body>
</html>